# Binaries
apkingo
*.exe
*.dll
*.so
*.dylib

# Output
output.json
dist/

# IDEs
.vscode
.idea
*.iml

# OS
.DS_Store
.AppleDouble
.LSOverride

# Tests
test.json
test/*

# User exceptions
!test/snapseed.apk
!test/F-Droid.apk
